@import "@serial/ui/styles.css";

:root {
  color-scheme: light dark;
}

html,
body,
#root {
  width: 380px;
  min-height: 380px;
  max-height: 570px;
}

body {
  background: transparent;
  margin: 0;
  overflow: hidden;
}

#root {
  background: hsl(var(--background));
  overflow-x: hidden;
  overflow-y: auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}
