@import "@serial/ui/styles.css";

:root {
  color-scheme: light dark;
}

html,
body,
#root {
  width: 380px;
  height: 380px;
}

body {
  margin: 0;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}
